body {
    background-color: #f1f1f1;
}
p, ul, menu, dir {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
ul, menu, dir {
    display: block;
    list-style-type: none;
    -webkit-padding-start: 0;
}
a {
    text-decoration: none;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.fm-window {
    width: 1200px;
    height: 500px;
    background-color: #afbbce;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}
.fm-window {
    overflow: hidden;
}
.fm-top{
    background: #e4e4e4;
    background: -moz-linear-gradient(top, #e4e4e4 0%, #e2e2e2 18%, #cdcdcd 74%, #cdcdcd 100%);
    background: -webkit-linear-gradient(top, #e4e4e4 0%,#e2e2e2 18%,#cdcdcd 74%,#cdcdcd 100%);
    background: linear-gradient(to bottom, #e4e4e4 0%,#e2e2e2 18%,#cdcdcd 74%,#cdcdcd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#cdcdcd',GradientType=0 );
    height: 25px;
    padding: 5px 4px;
    border-bottom: 1px solid #aaaaaa;
}
.close {
    width: 15px;
    float: right;
    margin-top: -17px;
    margin-right: 10px;
}
.close img {
    width: 100%;
}
.close2 {
    width: 12px;
    margin-top: -1px;
    margin-right: 1px;
    cursor: pointer;
}
.title {
    text-align: center;
    margin-top: 4px;
    color: #444444;
    font-weight: bold;
}
.fm-box {
    height: 441px;
}
.fm-box-left {
    width: 300px;
    background-color: #dde4eb;
    padding: 3px 5px;
    height: 435px;
}
/*.fm-box-left a {
    color: #555555;
}*/
.fm-box-left,
.fm-box-right {
    float: left;
}
.fm-box-left,
.fm-box-right {
    overflow: scroll;
}
.fm-box-right {
    width: 73.83%;
    background-color: #ffffff;
    height: 437px;
    padding: 2px;
}
.fm-bottom {
    height: 24px;
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #cdcdcd 83%, #cdcdcd 100%);
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#cdcdcd 83%,#cdcdcd 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%,#cdcdcd 83%,#cdcdcd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#cdcdcd',GradientType=0 );
    border-top: 1px solid #aaaaaa;
}
.dropdown-none,
.none {
    /*display: none;*/
    width: auto;
    height: 0px;
    overflow: hidden;
}
.dropdown-block {
    /*display: block;*/
    width: auto;
    transition: 1s;
}
.folder,
.file {
    padding-left: 27px;
    position: relative;
}
.click-folder,
.tr-folder {
    cursor: pointer;
}
.click-folder,
.tr-folder,
.title-folder {
    padding: 5px;
    position: relative;
}
.click-folder {
    color: #555555;
}
.icon,
.icon-r {
    width: 16px;
    height: 14px;
    float: left;
    margin-left: 11px;
}
.text {
    display: block;
}
.text,
.name {
    margin-top: -1px;
    margin-left: 30px;
}
.name {
    margin-left: 0;
}
.name {
    width: 45%;
}
.icon-r {
    margin-right: 5px;
    margin-left: 5px;
}
.caret,
.caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    position: absolute;
    top: 8px;
    left: 4px;
    border-left: 4px dashed;
    border-left: 4px solid\9;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    -webkit-transition: all 0.4s , color 0s;
    -moz-transition: all 0.4s, color 0s;
    -ms-transition: all 0.4s, color 0s;
    -o-transition: all 0.4s, color 0s;
    transition: all 0.4s, color 0s;
}

.caret-right {
    transform: rotate(90deg);
}
.tr-folder:nth-child(even) {
    background-color: #edf3fe;
}
.tr-folder,
.title-folder {
    height: 30px;
    position: relative;
}
.tr-folder a {
    color: #000;
    margin-top: -15px;
    padding-top: 7px;
    /*position: absolute;*/
    width: 865px;
    height: 23px;
}
.active-folder {
    background-color: #3875d7 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
}
.table-r {
    width: 100%;
    border-spacing: 0;
}
.title-folder {
    background-color: #e8e8e8;
    padding: 5px;
}
.title-folder span {
    padding: 0px 5px;
}
.size,
.kind {
    width: 27%;
    text-align: right;
    padding-right: 10px;
}
.file-edit {
    width: 99%;
    height: 90%;
    resize: none;
    overflow: scroll;
    white-space: pre;
    word-wrap: break-word;
}
.form-file {
    height: 100%;
}
.save {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
/*#div1 {
    width: 890px;
    height: 441px;
}*/
/*[data-x]{
    display: none;
}*/

